.container {
  border-radius: 10px;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  gap: 20px;
}

.img {
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.text {
  font-weight: 300;
  font-size: 1.1rem;
}

.text span {
  font-weight: 700;
}

@media (max-width: 48em) {
  .container {
    flex-direction: column;
  }

  .text {
    font-size: 0.9rem;
  }
}
