.container {
  padding: 30px;
  border-radius: 10px;
  transition: background-color ease-in-out 0.2s;
}

.img {
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.container:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.container:hover .img {
  box-shadow: none;
}
