.linkContainer {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background ease-in-out 0.1s;
}

.linkContainer:hover,
.linkContainer:active {
  background: var(--chakra-colors-gray-200);
}
